.dataprovidedWrapper {
  &__leftSide {
    border-right: 2px solid var(--field-input-border);
    padding-right: 20px;
    &__bold {
      color: var(--learn-more-grey) !important;
      line-height: 1.66;
      letter-spacing: normal;
      font-size: 15px;
      margin-bottom: 0;
    }
    &__light {
      font-size: 11px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.66;
      letter-spacing: normal;
      text-align: left;
      color: var(--field-input-border);
      margin-bottom: 0;
    }
  }
  &__rightSide {
    padding-left: 20px;
  }
}

@media (max-width: 767.98px) {
  .dataprovidedWrapper {
    &__leftSide {
      &__bold {
        font-size: 11.3px;
      }
      &__light {
        font-size: 7.9px;
      }
    }
  }
}
