// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant(
  $background,
  $border,
  $hover-background: darken($background, 7.5%),
  $hover-border: darken($border, 10%),
  $active-background: darken($background, 10%),
  $active-border: darken($border, 12.5%)
) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  @include hover {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 $btn-focus-width rgba($background, 0.35);
    } @else {
      box-shadow: 0 0 $btn-focus-width rgba($background, 0.35);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: $btn-active-box-shadow,
          0 0 $btn-focus-width rgba($background, 0.35);
      } @else {
        box-shadow: 0 0 $btn-focus-width rgba($background, 0.35);
      }
    }
  }
}

// Button outline variants
//

@mixin button-outline-variant(
  $color,
  $color-hover: color-yiq($color),
  $active-background: $color,
  $active-border: $color
) {
  color: $color;
  border-color: $color;

  @include hover {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    box-shadow: $btn-box-shadow, 0 0 $btn-focus-width rgba($color, 0.35);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: $btn-active-box-shadow,
          0 0 $btn-focus-width rgba($color, 0.35);
      } @else {
        box-shadow: 0 0 $btn-focus-width rgba($color, 0.35);
      }
    }
  }
}

// Button soft variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-soft-variant(
  $background,
  $color,
  $hover-background: $color,
  $hover-color: color-yiq($color),
  $active-background: $color,
  $active-color: color-yiq($color)
) {
  color: $color;
  @include gradient-bg($background);
  border-color: $background;
  @include box-shadow($btn-box-shadow);

  @include hover {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-background;
    @include box-shadow(0 4px 11px rgba($background, 0.35));
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow,
        0
          0
          0
          $btn-focus-width
          rgba(mix(color-yiq($background), $color, 15%), 0.5);
    } @else {
      box-shadow: 0
        0
        0
        $btn-focus-width
        rgba(mix(color-yiq($background), $color, 15%), 0.5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $color;
    background-color: $background;
    border-color: $background;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $active-background;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-background;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows {
        box-shadow: $btn-active-box-shadow,
          0
            0
            0
            $btn-focus-width
            rgba(mix(color-yiq($background), $color, 15%), 0.5);
      } @else {
        box-shadow: 0
          0
          0
          $btn-focus-width
          rgba(mix(color-yiq($background), $color, 15%), 0.5);
      }
    }
  }
}
