

.explore-solutions {
    box-shadow: 1px 3.1px 15.7px 0 rgba(0, 0, 0, 0.09);
    border: 3px solid #cbd5e0;
    padding: 11px 17px !important;
    cursor: pointer;
    background-color: #FFFFFF;

    &.disabled {
        background-color: #eef3f8;
        border-color: #cbd5e0 !important;
        cursor: default;
    }

    &:hover, &.active {
        border-color: #86d6dc;
    }

    .image {
        flex-grow: 0;
    }

    .title {
        flex-grow: 0;
        font-family: Montserrat;
        font-size: 12.6px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.66;
        letter-spacing: normal;
        text-align: left;
        color: #171347;
    }

    .description {
        flex-grow: 0;
        font-family: Montserrat;
        font-size: 9.4px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.66;
        letter-spacing: normal;
        text-align: left;
        color: #9599ac;
    }
}
