//
// Icon shapes
//

.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: $border-radius;
  width: $icon-size;
  height: $icon-size;

  i,
  svg {
    font-size: 1.125rem;
  }

  &.icon-xl {
    width: $icon-size-xl;
    height: $icon-size-xl;

    i,
    svg {
      font-size: 2.25rem;
    }
  }

  &.icon-lg {
    width: $icon-size-lg;
    height: $icon-size-lg;

    i,
    svg {
      font-size: 1.75rem;
    }
  }

  &.icon-sm {
    width: $icon-size-sm;
    height: $icon-size-sm;

    i,
    svg {
      font-size: 1rem;
    }
  }

  &.icon-xs {
    width: $icon-size-xs;
    height: $icon-size-xs;

    i,
    svg {
      font-size: 0.75rem;
    }
  }
}

// Color variations

@each $color, $value in $theme-colors {
  .icon-#{$color} {
    @include icon-variant(theme-color-level($color, $icon-bg-level), $value);
  }

  .icon-outline-#{$color} {
    @include icon-outline-variant($icon-border-width, $value);
  }
}
