// core



.custom-checkbox {
    label {
        font-size: 10px;
        padding: 8px 0px 0px 0px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: 0.66px;
        text-align: left;
        color: var(--field-input-border);
    }
    .custom-control-label::before {
        background-color: #ffffff;
        border: #d0d2d4 solid 1px;
    }
}
