//
// Table
//

// General styles
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');
.table {
  thead th {
    padding-top: $table-head-spacer-y;
    padding-bottom: $table-head-spacer-y;
    font-size: $table-head-font-size;
    text-transform: $table-head-text-transform;
    letter-spacing: $table-head-letter-spacing;
    background-color: $table-head-bg;
    border-bottom-width: $table-border-width;
    font-family: 'Montserrat', sans-serif !important;
  }

  th {
    font-weight: $table-head-font-weight;
  }

  td {
    .progress {
      height: 3px;
      width: 120px;
      margin: 0;
    }
  }

  td,
  th {
    font-size: $table-body-font-size;
    white-space: nowrap;
  }

  // Vetical align table content

  &.align-items-center {
    td,
    th {
      vertical-align: middle;
    }
  }

  // Styles for dark table

  &.table-dark thead,
  .thead-dark {
    th {
      background-color: $table-dark-head-bg;
      color: $table-dark-head-color;

      a {
        color: $table-dark-head-color;
      }
    }
  }

  // Styles for light table

  .thead-light {
    th {
      background-color: $table-head-bg;
      color: $table-head-color;

      a {
        color: $table-head-color;
      }
    }
  }
}

// Add transition for hover state

.table-hover {
  tr {
    @include transition($transition-base);
  }
}

// Flush tables

.table-flush {
  td,
  th {
    border-left: 0;
    border-right: 0;
  }

  tbody {
    tr {
      &:first-child {
        td,
        th {
          border-top: 0;
        }
      }

      &:last-child {
        td,
        th {
          border-bottom: 0;
        }
      }
    }
  }
}

// Tables inside cards

.card {
  .table {
    margin-bottom: 0;

    td,
    th {
      padding-left: $card-spacer-x;
      padding-right: $card-spacer-x;
    }
  }
}

// Fixes for custom elements inside tables

.table {
  .custom-toggle {
    display: block;
  }
}
.MuiCheckbox-colorPrimary {
  .MuiSvgIcon-root {
    color: #cbd5e0;
    border-radius: 0;
  }
}
.Mui-checked {
  color: #3b78ff !important;
  .MuiSvgIcon-root {
    color: unset;
    border-radius: 0;
  }
}

// editing MUI data table
.customTable {
  background-color: white;
}
.MuiTableCell-root {
  border: none !important;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
}
.MuiTableCell-head {
  letter-spacing: 0.66px !important;
  color: #cbd5e0 !important;
  font-weight: bold !important;
}
.MUIDataTableBodyRow-root-67.mui-row-selected {
  background-color: #f8f9fb !important;
}
.MuiButton-label {
  letter-spacing: 0.66px !important;
  color: #cbd5e0 !important;
  font-weight: bold !important;
  font-family: 'Montserrat', sans-serif !important;
}
.MuiButtonBase-root:focus {
  outline: none !important;
}
.MuiTableRow-root {
  .MuiTableCell-body {
    color: #cbd5e0 !important;
  }
}
.MuiTableRow-root.Mui-selected {
  .MuiTableCell-body {
    color: #495467 !important;
  }
}
.MuiTableRow-root {
  .dataprovidedWrapper {
    &__leftSide {
      &__bold {
        color: #9599ac;
      }
    }
  }
}
.MuiTableRow-root.Mui-selected {
  .dataprovidedWrapper {
    &__leftSide {
      &__bold {
        color: #495467;
      }
    }
  }
}
.rowBg {
  background-color: #f8f9fb !important;
}
// styling pagination

.pagination {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  margin: 30px 0 0;
  padding: 0;
  width: 100%;
  font-size: 12px !important;
  .previous {
    [role='button'] {
      color: white !important;
      background-color: #3b78ff;
    }
  }
  .next {
    [role='button'] {
      color: white !important;
      background-color: #3b78ff;
    }
  }
  a {
    border: none !important;
    padding: 0.5rem 0.75rem;
    margin-left: 0.5rem;
    color: #3b78ff;

    font-weight: bold;
    &:hover {
      background: #3b78ff;
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
}
.pagination__active a {
  background: #3b78ff;
  color: #ffffff !important;
}
.pagination__disabled {
  display: none;
}
.pagination__break {
  display: none;
}
.MuiIconButton-colorPrimary:hover {
  background-color: transparent !important;
}
.MuiTableRow-root.Mui-selected,
.MuiTableRow-root.Mui-selected:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
@media (max-width: 959.95px) {
  .MuiTableRow-root {
    .MuiTableCell-body {
      p {
        font-size: 10.5px;
      }
    }
  }
  .MUIDataTableBodyCell-stackedCommon-151 {
    font-size: 10.5px !important;
  }
  .MUIDataTableBodyCell-stackedCommon-159 {
    font-size: 9.4px !important;
  }
  .MUIDataTableBodyCell-stackedParent-161 {
    display: flex !important;
  }
  .MUIDataTableBodyRow-responsiveStacked-152,
  .MUIDataTableBodyRow-responsiveStacked-144 {
    border: none !important;
  }

  .MUIDataTableBodyCell-stackedCommon-159:nth-last-child(2) {
    color: #cbd5e0;
  }
  
}
