//
// Button group
//

.btn-group-options {
  .btn {
    min-height: 4.8rem;
    display: flex;
    align-items: center;
  }
}

// Colors

.btn-group-colors {
  & > .btn {
    box-shadow: none;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    position: relative;

    &:not([class*="bg-"]) {
      border-color: $gray-100 !important;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 28px;
      color: $white;
      transform: scale(0);
      opacity: 0;
      @include icon-font("\f00c", 12px);
      @include transition(transform 200ms, opacity 200ms);
    }

    &.btn:not([class*="bg-"]) {
      border: 1px solid darken($input-border-color, 5%);

      &:before {
        color: $body-color;
      }
    }

    &.active {
      &:before {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
