//
// Mask
//

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include transition($transition-base);
  background-image: url("/static/img/curveImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  & + .container {
    position: relative;
  }
  background-position: bottom;
  @media (max-width: 860px) and (min-width: 320px) {
    height: 85%;
  }
}

// Animated mask transparency

.card {
  //.mask {
  //  border-radius: $card-border-radius;
  //}

  .hover-mask {
    opacity: 0;
    transition-delay: 150ms;
  }

  &:hover {
    .hover-mask {
      opacity: 0.4;
    }
  }
}
