.so-modal {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 0;
  outline: none;
  padding: 20px;
  height: auto !important;
  .modal-content {
    border: none;
    box-shadow: none;
    .modal-body {
      padding: 0;
      border: none;
      outline: none;
      .modal_example_heading {
        font-size: 17.8px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.66;
        letter-spacing: normal;
        text-align: left;
        color: #000 !important;
      }
      .buttons_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
