.homeHero {
  .hiddenButtons {
    margin-bottom: 117px;
  }
  .Typist {
    h1 {
      @media (max-width: 767px) {
        font-size: 22px !important;
      }
    }
  }
  .solutionsSection {
    .sectionTitle {
      color: #9599ac;
      font-size: 8px;
      margin-bottom: 30px;
    }
  }
  .homeCarouselWrapper {
    position: relative;
    background-color: #f8f9fb;
    margin-top: 179px;
    padding-bottom: 103px;
    transition-timing-function: ease;
    transition: 0.2s;
    @media (max-width: 767px) {
      padding-bottom: 200px;
      padding-top: 70px;
    }
    .sliderItem {
      &:hover {
        transform: scale(1.02);
      }
      box-shadow: 0 5.2px 15.7px 4.2px rgba(235, 235, 235, 0.05);
      color: #171347;
      margin-top: 30px;
      cursor: pointer;
      .title {
        font-size: 25.7px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 20px;
      }
      .detail {
        font-size: 15.4px;
        line-height: 1.66;
      }
      .logo {
        position: relative;
        margin-top: -30px;
        @media (max-width: 767px) {
          margin-top: 0;
        }
      }
      .mainImg {
        position: relative;
        margin-top: -30px;
        width: 114.9px;
        @media (max-width: 767px) {
          margin-top: 30px;
          width: 47px;
        }
      }
    }
    .opacityContainer_leftSide {
      position: absolute;
      width: 430px;
      opacity: 0.7;
      top: 0;
      z-index: 1;
      bottom: 0;
      left: 0;
      background-color: #f3f3f3;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left center,
        right center,
        color-stop(0, transparent),
        color-stop(0.1, rgba(0, 0, 0, 0.99)),
        color-stop(0.25, black),
        color-stop(0.75, black),
        color-stop(0.9, rgba(0, 0, 0, 0.5)),
        color-stop(1, transparent)
      );
      @media (max-width: 479px) and (min-width: 320px) {
        width: 40px;
      }
      @media (max-width: 567px) and (min-width: 480px) {
        width: 70px;
      }
      @media (max-width: 684px) and (min-width: 568px) {
        width: 75px;
      }
      @media (max-width: 767px) and (min-width: 685px) {
        width: 80px;
      }
      @media (max-width: 991px) and (min-width: 768px) {
        width: 90px;
      }
      @media (max-width: 1023px) and (min-width: 992px) {
        width: 110px;
      }
    }
    .opacityContainer_RightSide {
      position: absolute;
      width: 430px;
      opacity: 0.7;
      top: 0;
      z-index: 1;
      bottom: 0;
      right: 0;
      background-color: #f3f3f3;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left center,
        right center,
        color-stop(0, transparent),
        color-stop(0.1, rgba(0, 0, 0, 0.99)),
        color-stop(0.25, black),
        color-stop(0.75, black),
        color-stop(0.9, rgba(0, 0, 0, 0.5)),
        color-stop(1, transparent)
      );
      @media (max-width: 479px) and (min-width: 320px) {
        width: 40px;
      }
      @media (max-width: 567px) and (min-width: 480px) {
        width: 70px;
      }
      @media (max-width: 684px) and (min-width: 568px) {
        width: 75px;
      }
      @media (max-width: 767px) and (min-width: 685px) {
        width: 80px;
      }
      @media (max-width: 991px) and (min-width: 768px) {
        width: 90px;
      }
      @media (max-width: 1023px) and (min-width: 992px) {
        width: 110px;
      }
    }
  }
}
