.contactSection {
  background-color: #191c47;
  input {
    border: none !important;
  }
  .leftContactOut {
    position: absolute;
    width: 124px;
    z-index: 10;
    margin-top: -210px;
  }
  .rightContactOut {
    position: absolute;
    width: 112px;
    right: 0;
    bottom: -60px;
  }
  .contactDiscription {
    font-size: 14.7px;
  }
  .contact_button {
    font-size: 21.4px;
  }
}
