@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

.table {
    thead th {
      font-family: 'Montserrat', sans-serif !important;
    }
}

// editing MUI data table
.customTable {
    background-color: white;
  }
  .MuiTableCell-root {
    border: none !important;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
  }
  .MuiTableCell-head {
    letter-spacing: 0.66px !important;
    color: #cbd5e0 !important;
    font-weight: bold !important;
  }
  .MUIDataTableBodyRow-root-67.mui-row-selected {
    background-color: #f8f9fb !important;
  }
  .MuiButton-label {
    letter-spacing: 0.66px !important;
    color: #cbd5e0 !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  .MuiButtonBase-root:focus {
    outline: none !important;
  }
  .MuiTableRow-root {
    .MuiTableCell-body {
      color: #cbd5e0 !important;
    }
  }
  .MuiTableRow-root.Mui-selected {
    .MuiTableCell-body {
      color: #495467 !important;
    }
  }
  .MuiTableRow-root {
    .dataprovidedWrapper {
      &__leftSide {
        &__bold {
          color: #9599ac;
        }

      }
    }
  }
  .MuiTableRow-root.Mui-selected {
    .dataprovidedWrapper {
      &__leftSide {
        &__bold {
          color: #495467;
        }
      }
    }
  }

.pagination {
    padding: 30px 0;
    margin: 0;
}