.guest-header {
  background-color: #f8f9fb;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 18px;
  padding-right: 18px;

  .guest-nav {
    width: 100%;
    display: flex;
    padding-left: 5px;
    justify-content: space-between;
    align-items: center;
    .navbar-list {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      font-size: 12.6px;
      font-weight: bold;
      li {
        a {
          color: black;
          margin-left: 36px !important;
        }
      }
    }
  }
}
.mobile-guest-nav {
  background-color: #f8f9fb;
  padding: 15px 34px 15px 34px;
  .mobileMenuList {
    inset: 0;
  }
  .mobile_links a {
    color: #9599ac;
  }
}
