//
// Form
//

.form-group {
  .errorDiv {
    color: $red;
    margin-top: 0.5rem;
  }
}

// Form control

.form-control {
  border: 3px solid $gray-400;
  &:hover {
    border-color: $gray-500;
  }
  &:focus {
    border-color: $dark;
    &::placeholder {
      color: $input-focus-placeholder-color;
    }
  }
}

//Disabled
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #efefef;
}

.form-control-muted {
  background-color: $input-muted-bg;
  border-color: $input-muted-bg;

  &:focus {
    background-color: $input-muted-bg;
  }
}

.form-control-emphasized {
  background-color: $input-emphasized-bg;
  border-color: $input-emphasized-bg;
  box-shadow: $input-emphasized-box-shadow;

  &:focus {
    background-color: $input-emphasized-focus-bg;
    border-color: $input-emphasized-focus-border-color;
    box-shadow: $input-emphasized-focus-box-shadow;
  }
}

// Form control flush
// Removes borders and paddings from inputs and text areas

.form-control-flush {
  padding: 0;
  border-width: 0;
  background-color: transparent;
  box-shadow: none;

  &:focus {
    background-color: transparent;
    box-shadow: none;
    border-width: 0;
  }
}

// Textarea

textarea.form-control {
  font-weight: normal;
}

textarea[resize="none"] {
  resize: none !important;
}

textarea[resize="both"] {
  resize: both !important;
}

textarea[resize="vertical"] {
  resize: vertical !important;
}

textarea[resize="horizontal"] {
  resize: horizontal !important;
}

// Size variations

.form-control-xl {
  padding: $input-padding-y-xl $input-padding-x-xl;
  font-size: $font-size-xl;
  line-height: $input-line-height-xl;
  @include border-radius($input-border-radius-xl);
}

// Color variations

.form-primary {
  .form-control {
    color: color-yiq(theme-color("primary"));
    background-color: darken(theme-color("primary"), 12%);
    border: $input-border-width solid darken(theme-color("primary"), 12%);

    &:focus {
      background-color: darken(theme-color("primary"), 16%);
      border: $input-border-width solid darken(theme-color("primary"), 16%);
    }

    // Placeholder
    &::placeholder {
      color: transparentize(color-yiq(theme-color("primary")), 0.2);
    }
  }
}

.form-warning {
  .form-control {
    color: color-yiq(theme-color("warning"));
    background-color: darken(theme-color("warning"), 12%);
    border: $input-border-width solid darken(theme-color("warning"), 12%);

    &:focus {
      background-color: darken(theme-color("warning"), 16%);
      border: $input-border-width solid darken(theme-color("warning"), 16%);
    }

    // Placeholder
    &::placeholder {
      color: transparentize(color-yiq(theme-color("warning")), 0.2);
    }
  }
}

.form-danger {
  .form-control {
    color: color-yiq(theme-color("danger"));
    background-color: darken(theme-color("danger"), 12%);
    border: $input-border-width solid darken(theme-color("danger"), 12%);

    &:focus {
      background-color: darken(theme-color("danger"), 16%);
      border: $input-border-width solid darken(theme-color("danger"), 16%);
    }

    // Placeholder
    &::placeholder {
      color: transparentize(color-yiq(theme-color("danger")), 0.2);
    }
  }
}
