.projectCard {
   border: 3px solid #a9bbce;
  &:hover {
    border: 3px solid #10cad1;
  }
  background-color: white;
  width: 100%;
  padding: 20px 10px 20px 20px;
  .productImage {
    img {
      width: 51px;
      height: 51px;
    }
  }
  .contentSection {
    padding-left: 26px;
    width: 100%;
    .leftContent {
      .title {
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #000000;
        margin: 0px;
        font-family: Montserrat;
        margin-top: -3px;
      }
      .details {
        img {
          width: 14px;
        }
        h5 {
          font-family: Montserrat;
          margin: 0px;
          color: #000000;
          font-size: 8px;
          font-weight: bold;
          padding: 0px 0px 0px 3px;
          span {
            color: #9599ac;
          }
        }
      }
    }
  }
  .button_container {
    .active {
      font-size: 12px;
      color: #fff;
      background-color: #11cad1;
      outline: none;
      border: 1px solid #11cad1;
      outline: none;
      padding: 5px 16px;
      font-weight: bold;

      &:hover {
        background: #13a3a8;
        border: 1px solid #13a3a8;
      }
    }
    .inActive {
      font-size: 12px;
      color: #fff;
      background-color: #a9bbce;
      outline: none;
      border: 1px solid #a9bbce;
      outline: none;
      padding: 5px 16px;
      font-weight: bold;
      &:hover {
        background: #b4bec9;
        border: 1px solid #b4bec9;
      }
    }
  }
  .opac-0 {
    opacity: 0;
  }
  .opac-1 {
    opacity: 1;
  }
}
// .InActiveProjectCard {
//   border: 3px solid #a9bbce;
// }
// .activeProjectCard{
//   border: 3px solid #10cad1;
// }
