// User styles

.breadcrumb {
  border: none !important;
}

.bp3-input {
  background-color: #ffffff !important;
  border-radius: 0 !important;
  border: 2px solid red !important;
}

/**
* Shows how you can use CSS to style your Element's container.
* These classes are added to your Stripe Element by default.
* You can override these classNames by using the options passed
* to the CardElement component.
* https://stripe.com/docs/js/elements_object/create_element?type=card#elements_create-options-classes
*/

.StripeElement {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5dae2;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.StripeElement--focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.25) !important;
  border-color: #04005b !important;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*------------------------------------
  Typed.js
------------------------------------*/
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

.link-banner {
  background: url(/static/svg/components/abstract-shapes-12.svg) right no-repeat;
}

.MuiAlert-root {
  padding: 6px 8px !important;
  border-radius: 0 !important;
}

.BillingForm .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1e2022;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5dae2;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.BillingForm .form-control.StripeElement--focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 125, 255, 0.25);
  border-color: #04005b;
}

.rotate {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.stage {
  display: flex;
  height: 300px;
  width: 100%;
}
.box {
  align-self: flex-end;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  background-color: inherit;
  height: 280px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 240px;
}
.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}
@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.bg-dark-marketing {
  background-color: $marketing-bg-dark;
}

.dropdown-menu a.drop-border-bottom {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.user-table th,
tr {
  border-radius: 0 !important;
}

.modal-content {
  border-radius: 0;
}

.pipe-line-button {
  justify-content: flex-end;
}

.form-control-lg {
  border-radius: 0 !important;
}

.btn-lg {
  border-radius: 0 !important;
}

.card {
  border-radius: 0 !important;
}

/**
Toggle Panel
 */

/*.toggle-panel {
  height: 50px;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  background-color: $brand-blue;

  span {
    font-weight: 500;
    font-size: 16px;
  }

  .button {
    @extend .pull-right;
    padding-right: 25px;
  }

  &:hover {
    cursor: pointer;
  }
}
.toggle-panel-body {
  background-color: #f4f4f4;
  min-height: 100px;
}*/

.toggle-panel {
  border-bottom: 5px solid #fff;
}

.toggle-panel .toggle-panel-heading {
  height: 45px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  background-color: #171347 !important;
}

.toggle-panel .toggle-panel-heading span {
  font-weight: 500;
  font-size: 15px;
}

.toggle-panel .toggle-panel-heading .button {
  padding-right: 25px;
}

.toggle-panel .toggle-panel-heading:hover {
  cursor: pointer;
}

.toggle-panel .toggle-panel-body {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 160px;
}

.react-trello-lane {
  border: 0;
  background-color: #171347 !important;
  color: #ffffff;
}

.home-header {
  min-height: 160px;
  background-color: #ebebeb;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .home-header {
    background-color: #ebebeb;
    background-image: url("https://cm.apollidon.com/images/home/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}

.home-header h2 {
  color: #686868;
  font-size: 30px;
  padding-top: 40px;
  margin-bottom: 0;
}

.home-header h3 {
  color: #000000;
  font-size: 28px;
  margin-top: 10px;
  font-weight: 700;
}

.home-icons {
  padding-top: 60px;
}

.home-icons h4 {
  color: #ababab;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
}

.home-icons .icon {
  text-align: center;
}

.home-icons .icon a {
  color: #686868;
  font-size: 22px;
  font-weight: 700;
}

.home-icons .icon a img {
  padding-bottom: 15px;
}

.home-icons .icon a:hover {
  cursor: pointer;
  text-decoration: none !important;
}

//Input Element CSS
textarea.form-control {
  font-weight: normal;
}
.form-control,
.select2 {
  border-color: #bbb;
  border: solid 2px #ccc;
  &:hover {
    border-color: #aaa;
  }
  &:focus {
    border-color: $dark;
  }
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #efefef;
}
.form-group {
  .errorDiv {
    color: red;
    margin-top: 0.5rem;
  }
}
