// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Skins
//
// We recommend that all the variables that are staying at the core of your product's styleguide (colors, typography) to be separated in a custom skin
// you can start by using one of the pre-built ones or, simply, create a new one
// learn more about how to create your skin by reading the theme's documentation.
//
// Below you can find 3 pre-defined skins. You can uncomment any one of them and compile Sass using the build tools

// @import "../skins/green/light";
// @import "../skins/green/dark";

// Fonts
//
// uncomment and replace the $font and $font-family-custom-sans-serif value with any URL and font family name from Google Fonts
//

// $font: "https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700" !default;
// $font-family-custom-sans-serif: "Ubuntu", sans-serif !default;
// $font-family-base: $font-family-custom-sans-serif !default;

$font: "https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700" !default;
$font-family-custom-sans-serif: "Montserrat", sans-serif !default;
$font-family-base: $font-family-custom-sans-serif !default;

// Radius
$border-radius: 0 !default;
$navbar-dropdown-border-radius: 0 !default;
$dropdown-border-radius: 0 !default;

// Colors

$blue: #3b78ff !default;
$red: #d3413d !default;
$yellow: #ffae42 !default;

$bg-dark: #0e0b2b !default;
$secondary: #0e0b2b !default;

$marketing-bg-dark: #203f89 !default;


// LT Colors Primary -----
$ltblue: #168fce;
$ltblue-light: #32a4dc;
$ltblue-lighter: #5ebeed;
$ltblue-lightest: #95d1ef;
$ltblue-hover: #2698d5;
$ltnavy: #004f76;
$ltnavy-hover: #006091;
$ltgrey: #5a595c;
$ltgrey-light: #999;
// LT Colors Secondary -----
$ltyellow: #f8b42d;
$ltyellow-hover: #fcbe25;		
$ltgreen: #46b976;
$ltorange: #f79230;
$ltred: #e23f40;
$ltred-hover: #e94f52;
$ltpurple: #b3529f;
$ltoffwhite: #ddd;
//Basics -----
$white: #fff;
$offwhite: #f4f4f4;
$black: #000;
$grey: #ccc;
$darkgrey: #494949;
$coal: #333;
$lightcoal: #444;
$darkcoal: #222;

// Custom variables
//
// Need additional variables? Simply create it here and make sure you follow the naming formula explained at the top of this file.
