/*

Theme: Quick – Website UI Kit
Version: 1.1.0
Product Page: https://themes.getbootstrap.com/product/quick-website-ui-kit-2/
License: https://themes.getbootstrap.com/licenses/
Author: Webpixels
Author URI: https://webpixels.io

---

Copyright 2020 Webpixels

*/

// Bootstrap functions
@import "~bootstrap/scss/functions";

// Custom variables
@import "custom/variables";

// Quick functions
@import "core/functions";

@import "core/variables";

// Custom fonts
@import "custom/fonts";

// Bootstrap core
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Quick mixins
@import "core/mixins";

// Bootstrap components
@import "core/bootstrap";

// Quick utilities
@import "core/utilities";

// Quick components
@import "core/components";

// Quick libs
@import "core/libs";

// Custom styles (User's file)
@import "custom/styles";

/* Color Variables from Zeplin Styleguide */

:root {
    --background-white: #ffffff;
    --background-color: #171347;
    --field-input-text: #9599ac;
    --learn-more-grey: #495467;
    --button-inactive: #cbd5e0;
    --hover-button: #79a2ff;
    --button-inactive: #cbd5e0;
    --hover-variation: #86d6dc;
    --green-email: #11cad1;
    --innovation-button-color: #966db9;
    --orange-billing: #ff6b5a;
    --pure-black: #000000;
    --background-light: #f8f9fb;
    --marketing-button-color: #5071b5;
    --purple-bus-info: #966db9;
    --grey-text: #8d92a7;
    --field-input-border: #aabbce;
    --cta-blue: #3b78ff;
  }
