

.popover {
    border-radius: 0;
    box-shadow: 0px 0rem 1.5rem 0px rgba(31, 45, 61, 0.5);
    .popover-header {
        border-bottom: 0;
    }
}

.sm {
    .popover {
        max-width: 300px;
    }

}
.md {
    .popover {
        max-width: 600px;
    }

}
.lg {
    .popover {
        max-width: 900px;
    }

}