.ImageWithTextWrapper {
  &__Image {
    width: 28.9px;
    height: 29.3px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  &__title {
    @media (max-width: 959.95px) {
      font-size: 10.5px;
    }
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 0;
    color:#495467;    ;
  }
}
